html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.top-link {
  text-align: center;

}

a {
    font-size: 16px;
  color: aquamarine;
}

.grey-text {
  color: gray;
  font-size: 21px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

.images {
  display: block;
  text-align: center;
}

fig {
  width: 100%;
  height: 100%;

}

img {
  display: block;
  display: block;
  margin: 0 auto 20px;
}

footer {
  float: right;
  color: gray;
}